@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

/* Header Styles */
header {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    color: royalblue;
    background-color: #f0f0f0; /* Gray background */
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  